<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
	<head>

		<meta property="og:title" content="mv $LIFE /dev/null"/>
		<meta property="og:description" content="A blog maintained by thenerdsuperuser."/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="https://www.thenerdsuperuser.xyz"/>
		<meta property="og:image" itemprop="image" content="https://camo.githubusercontent.com/b81ac2eb2333f5c7d9601d849873f865c6e86b4f/68747470733a2f2f692e6962622e636f2f5a3231665873562f57686174732d4170702d496d6167652d323032302d30382d30332d61742d312d31392d31392d414d2e6a7067"/>
		<meta property="og:image:secure_url" itemprop="image" content="https://camo.githubusercontent.com/b81ac2eb2333f5c7d9601d849873f865c6e86b4f/68747470733a2f2f692e6962622e636f2f5a3231665873562f57686174732d4170702d496d6167652d323032302d30382d30332d61742d312d31392d31392d414d2e6a7067"/>
		<meta property="og:image:type" content="image/jpeg" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@vimoveremacs" />

		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--<meta name="viewport" content="width=device-width, initial-scale=1, min-width=500"/>-->

        <!-- Bootstrap & JQuery-->
				<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
				<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
				<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

        <!-- Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">

        <!-- Icons-->
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
				<script src='https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js'/>
				</script>

        <!--- SASS-->
				<link rel="stylesheet" href={{ "../assets/css/style.css" | relative_url }} >

        <!--- Favicon-->
        <link rel="icon" type="image/png" href={{ "../assets/images/favicon.png" | relative_url }} sizes="16x16">

				<title>{{ page.title }}</title>
	</head>
    <body>
				<link itemprop="thumbnailUrl" href="https://camo.githubusercontent.com/b81ac2eb2333f5c7d9601d849873f865c6e86b4f/68747470733a2f2f692e6962622e636f2f5a3231665873562f57686174732d4170702d496d6167652d323032302d30382d30332d61742d312d31392d31392d414d2e6a7067">
						<span itemprop="thumbnail" itemscope itemtype="http://schema.org/ImageObject">
								<link itemprop="url" href="https://camo.githubusercontent.com/b81ac2eb2333f5c7d9601d849873f865c6e86b4f/68747470733a2f2f692e6962622e636f2f5a3231665873562f57686174732d4170702d496d6167652d323032302d30382d30332d61742d312d31392d31392d414d2e6a7067">
						</span>
        {% include nav.html %}
