<p class="social-media">
    <a  class="social" href="https://github.com/thenerdsuperuser/" target="_blank">
        <i class="fab fa-github fa-lg" title="Check my repos!"></i>
    </a>                            
    <a class="social" href="https://twitter.com/vimoveremacs/" target="_blank">
        <i class="fab fa-twitter fa-lg" title="Check out my tweets!"></i>
    </a>
    <a class="social" href="https://www.linkedin.com/in/parthkrishna" target="_blank">
        <i class="fab fa-linkedin-in fa-lg" title="Check out my posts!"></i>
    </a>
    <a class="social" href="https://keybase.io/thenerdsuperuser/" target="_blank">
        <i class="fab fa-keybase fa-lg" title="Wanna text securely?"></i>
    </a>
    <a class="social" href="mailto:thenerdsuperuser@gmail.com?Subject=Hello%20World" target="_top">
        <i class="far fa-envelope fa-lg" title="moshi moshi"></i>
    </a>
    <!--<a href="#" target="_blank">
    <a class="social" href= "{{site.baseurl}}/hackerearth">
        <i class="fas fa-blog fa-lg" title="more like logs"></i>
		</a>-->
    <a class="social" href="https://drive.google.com/file/d/1-Mf4HVkdS8gdzVSRHry3ku2TAlFamRQK/view">
        <i class="fas fa-file fa-lg" title="Hire me!"></i>
    </a>
</p>

