<header>
    <div class="logo-container">
        <a class= "url"  href= "{{site.url}}" >
            <img class = "logo" src={{ "assets/images/logo.png" | relative_url }} alt="logo" />
            <h4 class="title">thenerdsuperuser</h4>
        </a>
    </div>
    
    <!--<nav>-->
        <!--<ul class="nav-links">-->
            <!--<li><a class="nav-link" href="#">Blog</a></li>-->
            <!--<li><a class="nav-link" href="#">Products</a></li>-->
            <!--<li><a class="nav-link" href="#">Contact</a></li>-->
        <!--</ul>-->
    <!--</nav>-->
</header>

