---
layout: default
---

    <body>


		<main>
            <div> 
            <!--make css for myposts-->
              <ul class="myposts">
                  {% for post in site.posts %}
                    {% if post.hackerearth %}
                      <li>
                          <a href="{{ post.url }}">{{ post.date | date_to_string }} - {{ post.title }}</a>
                          <!--<span class='date-created'>{{ post.date | date_to_string }}</span>-->
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
            </div>
        </main>
	</body>

