{% include header.html %}

<main>
	<section class="presentation">
		<div class="introduction">
			<div class="intro-text">
				<h1>{{ page.title }}</h1>
				<h4>{{ site.position }} at {{ site.organization }}</h4>
				<p id="small" align=”justify” style="font-size:12px;">
				{{ content }}
				</p>


						{% if site.twitter %}
							{% include twitter.html %}
						{% endif %}


						{% if site.github %}
							{% include github.html %}
						{% endif %}


						{% if site.linkedin %}
							{% include linkedin.html %}
						{% endif %}


						{% if site.spotify %}
							{% include spotify.html %}
						{% endif %}


						{% if site.resume %}
							{% include resume.html %}
						{% endif %}



			</div>
		</div>
		<div class="cover">
			<img src={{ site.image }} alt="speaker" />
		</div>
	</section>
</main>
</body>

{% include footer.html %}
